.select_container {
    text-align: center;
}
.select_container > h2,p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.select_container > h2 > .toggle {
    margin-left: 10px;
    cursor: pointer;
}
.select_days {
    width: 200px;
    padding: 10px;
    cursor: pointer;
}